.container-fluid{
    background-image: url("../../assets/image/aaron-burden-xG8IQMqMITM-unsplash.jpg");

  /* Full height */
  max-height: max-content;
  margin: 0;
  
  

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  
}

.container{
    background-color: #585454be;
}

