h1{
    color: teal;
    text-align: center;
}

.container{
    max-width: 950px;
    margin: auto;
}

#success{
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 5px solid #99f3bd;
    background-color:#ccf6c8;
    color: #333333;
}

.success{
    float: left;
}

.close{
    float: right;   
}